{% extends "@themes/"~template~"/html/base.html.twig" %}
{% block content %}
<header data-section-wrapper="1" id="top">
    <div data-section="1">
        <div class="container" data-slot-container="1">
            <div data-slot="text">
                <img class="logo" src="{{getAssetUrl('themes/'~template~'/assets/logo.png')}}">
            </div>
        </div>
    </div>
</header>
<section data-section-wrapper="1" class="hero">
    <div data-section="1">
        <div class="background">
            <div data-slot-container="1">
                <div data-slot="text">
                    <img class="background-image"
                        src="{{getAssetUrl('themes/'~template~'/assets/photo_hero-background.png')}}">
                </div>

            </div>
        </div>
        <div class="container" data-slot-container="1">

            <div class="row">
                <div class="c6">
                    <p>PUT Form Here like {form=1}</p>
                </div>
                <div class="c6">
                </div>
            </div>
        </div>
    </div>
</section>
<section data-section-wrapper="1" class="details">
    <div data-section="1" id="ixp0z">
        <div data-slot-container="1" class="container">
            <div data-slot="text">
                <h2 class="green"></h2>
                <p id="i21ei"><strong id="i0aoq" class="green top-heading">This guide is for professionals who want
                        to:</strong></p>
                <div class="c6 detail"><img src="/themes/ti-theme/assets/Get-free-business-EbookS.png?vfa55d461"></div>
                <div class="c6 detail">
                    <ul>
                        <li id="i0ccx">Stay ahead of the competition and meet the changing needs of your customers in
                            the Digital Age.</li>
                    </ul>
                    <p><br data-cke-filler="true"></p>
                    <ul>
                        <li id="i05n5">Leverage digital technologies to improve your business processes, culture, and
                            customer interactions.&nbsp;</li>
                    </ul>
                    <p><br data-cke-filler="true"></p>
                    <ul>
                        <li id="iv3vd">Learn from industry&nbsp;experts, who have helped hundreds of SMEs successfully
                            transform their businesses.&nbsp;</li>
                    </ul>
                    <p><br data-cke-filler="true"></p>
                    <ul>
                        <li id="irweb">Access a practical and comprehensive framework that guides you through every step
                            of your digital transformation journey.&nbsp;</li>
                    </ul>
                    <p></p>
                </div>
            </div>
            <div id="ib85s" class="row">
                <div class="cell new-column"><a href="#" class="button">
                        <p id=""></p>
                        <p><strong id="in197">Download Now</strong></p>
                    </a></div>
            </div>
        </div>
    </div>
    <div data-slot-container="1" class="container">
        <div data-slot="text">
            <h2 id="iuvjk"></h2>
            <p id="itm1u"><strong id="io7yb" class="top-heading">Gain insights into the critical role of adaptability,
                    master strategies for market responsiveness, leverage technology for sustainable growth, and foster
                    a resilient organizational culture with our Digital Transformation Ebook.</strong></p><br>
            <div class="c6 detail">
                <ul>
                    <li id="i470z">What digital transformation is and why it matters for SMEs.<br></li><br>
                    <li id="izvtx">How to use the People-Process-Technology Framework to plan and implement your digital
                        transformation.&nbsp;<br></li><br>
                    <li id="i7zm1">How to secure leadership buy-in, engage stakeholders, and upskill talent.</li>
                </ul>
            </div>
            <div class="c6 detail">
                <ul>
                    <li id="i1ow9">How to conduct an initial assessment, future-proof processes, and roadmap
                        implementation.&nbsp;</li><br>
                    <li id="irm3r">How to select an appropriate solution, safeguard data, and foreground
                        cybersecurity.&nbsp;</li><br>
                    <li id="rrtrdt455">How to monitor and measure key metrics, manage the change, and foster continuous
                        improvement.&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="iizn5" class="row">
        <div class="cell new-column"><a href="#" class="button">
                <p id="i1y2a"></p>
                <p><strong id="is9fp">Download Your Free Guide</strong></p>
                <p></p>
            </a></div>
    </div>
</section>

<section data-section-wrapper="1" class="details">
    <div data-section="1" id="isorc">
        <div id="iio6f" class="row new-column">
            <div id="i7678w" class="cell">
                <iframe allowfullscreen="allowfullscreen" id="iajiih"
                    src="https://www.youtube.com/embed/ML_ZZVqJxz4?"></iframe>
            </div>
        </div>
    </div>
</section>
<section data-section-wrapper="1" id="i7v8r" class="details">
    <div data-section="1">
        <div data-slot-container="1" class="container">
            <div data-slot="text">
                <h2 id="i5e8n"></h2>
                <p id="ilhmz"><strong id="i6jy3c" class="top-heading">Become A ChangeMaker</strong></p>
                <p id="ifjdv"></p>
                <p id="i6mnhs">Unlock the benefits of Digital Transformation: Get Your Free E-Book Today!</p>
                <p></p>
            </div>
            <div id="" class="cell new-column"><a href="#" id=""></a><a href="#" id="ilajy9" class="Ebookbutton">
                    <p id="iab2tr"></p>
                    <p><strong>Download Now</strong></p>
                    <p></p>
                </a></div>
        </div>
    </div>
    <div class="row"></div>
</section>


<footer data-section-wrapper="1" id="bottom">
    <div data-section="1">
        <div data-slot-container="1" class="container">
            <div class="row">
                <div class="c6 logo-container">
                    <img class="logo" src="{{getAssetUrl('themes/'~template~'/assets/Logo-white.svg')}}">
                </div>
                <div class="c6">
                </div>
            </div>
        </div>
    </div>
    <div data-section="2">
        <div data-slot-container="2" class="container">
            <div class="row">
                <div class="c4">
                    <p style="color:rgb(255,255,255);">Target Integration provides web based business management
                        applications. We specialize in automating your business processes using innovative technical
                        solutions.
                    </p>
                </div>
                <div class="c4" style="color:rgb(255,255,255);">
                    <p>About Us</p>
                    <p>Blogs</p>
                    <p>Services</p>
                </div>
                <div class="c4" style="color:rgb(255,255,255);">
                    <p>Products</p>
                    <p>Solutions</p>
                </div>
            </div>
        </div>
    </div>
    <p><br data-cke-filler="true"></p>
    <div data-section="3">
        <div data-slot-container="3" class="container">
            <div class="row">
                <p class="copyright"></p>
                <p><span style="color:rgb(255,255,255);font-size:13px;">Copyright © 2008-2023 Target Integration. All
                        rights reserved</span></p>
                <p>
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}